{% extends 'base.html' %}

{% block content %}
<h1>Task Dashboard</h1>

<a href="{% url 'main:new_task'  %}">New Task</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date Time</th>
        <th>Location</th>
        <th>Description</th>
        <th>Status</th>
        <th>task_id_celery</th>
        <th>Video File</th>
        <th>Time</th>
        <th>edit_task</th>
        <th>edit-loop</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.task_id }}</td>
        <td>{{ task.date_time }}</td>
        <td>{{ task.location }}</td>
        <td>{{ task.description }}</td>
        <td>
        {{ task.status }}
        </td>
        <td>
            {{ task.task_id_celery }}
        </td>
        <td><video width="470" height="255" src="{{ task.video_file.url }}" controls></video></td>
        <td>{{ task.time }}</td>
        <td><a href="{% url 'main:edit_task' task.task_id %}">Edit Task</a></td>
        <td><a href="{% url 'main:loop_dashboard' task.task_id %}">Edit Loop</a></td>
        {% if task.status == "SUCCESS" %}
            <td><a href="{% url 'main:get_result' task.task_id %}">Result</a></td>
        {% else %}
            <td><p>WAIT FOR PROCESS</p></td>
        {% endif %}
        {% if task.status == "UNPROCESS" %}
            <td>
                <form method="POST" enctype="multipart/form-data" action="{% url 'main:call_detect' task.task_id %}">
                    {% csrf_token %}
                    <div>
                        <button type="submit">Send Task</button>
                    </div>
                </form>
            </td>
        {% elif task.status == "FAILURE" %}
        <td>
            <form method="POST" enctype="multipart/form-data" action="{% url 'main:call_detect' task.task_id %}">
                {% csrf_token %}
                <div>
                    <button type="submit">RESEND TASK</button>
                </div>
            </form>
        </td>
        {% else %}
            <td>
                <div>
                    <p>SENDED</p>
                </div>
            </td>
        {% endif %}
        
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}