
{% extends 'base.html' %}

{% block content %}
<style>
    
    h1{
        text-align: center;
    }

    input[type="file"] {
        float: right;
        margin-right: 12%;
        margin-left: 0;
    }

    .new-task-form button[type=submit]{
        display: inline-block;
        background-color: #44df1c;
        color: white;
        padding: 3px 8px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 15%;
    }

    #form-div{
        background-color: white;
        padding:5%;
    }

    #save-btn{
        margin: 10%;
    }

    #back-btn{
        margin: 10%;
    }



</style>

<section class="new-task-form" >
    <section id="form-div">
        <h1>New Task</h1>
        <div class="form-task">
            <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id="save-btn" type="submit">Save</button>
                    <a id="back-btn" class="btn btn-back new-task-back" href="{% url 'main:dashboard'  %}" role="button">Back</a>
            </form>
        </div>
    </section>
</section> 
{% endblock %}