
{% extends 'base.html' %}

{% block content %}
<style>

    th{
        text-align: center;
    }

    .video-section{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

    .video-edit{
            margin-left: 25%;
            margin-right: 5%;
        }

    .btn-new-loop{
            margin-left: 70%;
            margin-top: 2%;
            margin-bottom: 2%;
            background-color: grey;
            border-color: grey;
        }

    .table-editloop{
        text-align: center;
        margin-right: 25%;
        margin-left: 1%;

    }

    .btn-create{
        color: white;
        background-color: #dc3545;
        border: none;
    }

    .btn-create:hover {
        text-decoration: none;
        color: black;
        background-color: #dc3545;
    }

    .btn-back-loop{
        margin-left: 73%;
        margin-right: auto;
        color: white;
        background-color: #ffc107;
        border: none;
    }

    .btn-warning{
        color: white;
        background-color: #ffc107;
        border: none;
    }

    .btn-danger{
        background-color: #dc3545;
        color: white;
    }

    .image-container {
        display: flex;
        justify-content: flex-end;
    }



</style>
<h1 class="loop-header">Loop Dashboard</h1>
<a href="{% url 'main:new_loop' task_id %}" class="btn btn-success btn-create btn-new-loop">+  New Loop</a>
<br>
{% load static %}

<div class="video-section">
    <div class="image-container">
        <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Modified Image" style="max-width: 50%; height: auto;">
    </div>
    <div class="table-editloop">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Loop ID</th>
                <th scope="col">Loop Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for loop in loops %}
            <tr>
                <td>{{ loop.loop_id }}</td>
                <td>{{ loop.loop_name }}</td>
                <td><a class="btn btn-warning" href="{% url 'main:edit_loop' task_id loop.pk %}" role="button">Edit</a>
                <td><a class="btn btn-danger" href="{% url 'main:delete_loop' loop.pk %}" role="button">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
<a class="btn btn-back-loop back-btn" href="{% url 'main:dashboard'  %}">back</a>
{% endblock %}