
{% extends 'base.html' %}

{% block content %}
<style>
   a {
        color: white;
    }
</style>
<h1 class="loop-header">Loop Dashboard</h1>
<a href="{% url 'main:new_loop' task_id %}" class="btn btn-success btn-create btn-new-loop">+  New Loop</a>
<br>
{% load static %}

<div class="video-section">
    
    <!--<img src="{{ task.image_file.url }}" alt="Task Image" style="max-width: 30%; height: auto;">-->
    <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Modified Image" style="max-width: 30%; height: auto;">
    <div class="table-edit ml-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Loop No.</th>
                <th scope="col">Loop Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for loop in loops %}
            <tr>
                <td>{{ loop.pk }}</td>
                <td>{{ loop.loop_name }}</td>
                <td><a class="btn btn-warning" href="{% url 'main:edit_loop' loop.pk %}" role="button">Edit</a>
                <td><a class="btn btn-danger" href="{% url 'main:delete_loop' loop.pk %}" role="button">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
<a class="btn btn-success1 back-btn" href="{% url 'main:dashboard'  %}">back</a>
{% endblock %}