{% extends 'base.html' %}

{% block content %}
<style>
    h1{
        text-align: center;
    }

    .new-loop-form button[type=submit]{
        display: inline-block;
        background-color: #44df1c;
        color: white;
        padding: 3px 8px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 20%;
    }

    .image-container {
        margin-left: 20%;
        margin-right: auto;
    }

</style>
<section class="new-loop-form" >
    <h1 style="text-align: center;">New Loop</h1>
    <h2 style="text-align: center;">Information</h2>
    <div class="image-container">
        <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Modified Image" style="max-width: 70%; height: auto;">
    </div>
    <div class="form-loop">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}   
            <button type="submit">New Loop</button>
            <a class="btn btn-back-loop new-loop-back" href="{% url 'main:loop_dashboard' task_id %}">back</a>
        </form>
    </div>
</section>
{% endblock %}
