<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: .5em;
        }
    </style>
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <!-- navigation menu goes here -->
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
    </main>
    <footer>
        <!-- footer content goes here -->
    </footer>
</body>
</html>


